/*
colores
violeta: #6564CC
azul: #00339E
azul oscuro: #010163
naranja: #FC6A07

modelo de diseño mobile first
*/

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.borde {
  border: 1px solid #000;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 8px;
}
.presentation-img {
  width: 100%;
  height: 300px;
  background-image: url("../../../assets/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.presentation-tit {
  height: 200px;
  width: 100%;
  align-content: center;
  padding: 8px;
}

.presentation-tit h1 {
  font-size: 2rem;
  background-image: linear-gradient(to right, #010163, #00339e, #6564cc);
  -webkit-background-clip: text;
  color: transparent;
}

/* caract */
.caract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 8px;
}

.caract-cont {
  max-width: 100%; /* Evita que el contenido se extienda más allá de su contenedor */
  overflow-wrap: break-word; /* Permite que las palabras largas se dividan */
  word-wrap: break-word; /* Alternativa para compatibilidad */
  white-space: normal; /* Asegura que el texto haga saltos de línea */
  height: 120px;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  border: 1px solid #fc6a0750;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.caract-cont h2 {
  padding: 0 0 8px 0;
}

@media (max-width: 600px) {
  .presentation-tit h1 {
    font-size: 1.4rem;
  }
  .caract-cont {
    height: 200px;
  }
  .courses .cta{
    font-size: 12px;
  }
  /* Cursos Destacados */
.cursos-grid {
  padding: 50px 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media (min-width: 768px) {
  .presentation {
    flex-direction: row;
    margin: 8px;
    padding: 8px;
  }
}

@media (min-width: 1024px) {
  .presentation-img {
    width: 500px;
    height: 500px;
  }

  .presentation-tit {
    height: 500px;
    width: 500px;
    align-content: center;
    padding: 24px;
  }
  .presentation-tit h1 {
    font-size: 2.5rem;
  }
  .caract-cont:hover {
    transform: scale(1.02);
  }

  .caract {
    flex-direction: row;
  }
}
/*
hasta acá llega el desarrollo de los estilos
de la presentacion de la incubadora.
Incluye diseño responsive
*/

/* Hero */
.courses {
  background: url("https://source.unsplash.com/1600x900/?education") no-repeat
    center center/cover;
  color: rgb(0, 0, 0);
  padding: 80px 20px;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 36px;
}

.cta {
  padding: 10px 20px;
  background: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Cursos Destacados */
.cursos-destacados {
  padding: 50px 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursos-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.curso {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}

.curso:hover {
  background-color: #989d9e;
}
/* Beneficios */
.beneficios {
  background: #dfe6e9;
  padding: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beneficios ul {
  list-style: none;
  padding: 0;
}

.beneficios li {
  font-size: 18px;
}

/* carrusel */

.carousel-container {
  position: relative;
  max-width: auto;
  height: 600px;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}

.carousel-slide {
  display: none;
  width: 100%;
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 10;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.notices {
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
