<section>
    <div class="cont-tit">
        <h2 class="title">Asignar rol docente</h2>

    </div>
    <form [formGroup]="formPOST" (ngSubmit)="getRolesSUBMIT()"  >    


         <!--    /////////////////////////   -->
         <div class="formCamp">
            <div class="err">
                <label  for="">Ingrese el mail del usuario</label>
                <div *ngIf="email_GET.invalid && (email_GET.dirty || email_GET.touched)"  class="control" >
                    <p *ngIf="email_GET.hasError('required')" class="control" > (Este campo es requerido)</p>
                    <p  *ngIf="email_GET.hasError('email')" class="control" > (Ingrese un formato correcto)</p>
                </div>
                   
                </div>
                <input type="text" placeholder="ejemplo@mail.com" formControlName="email">
        </div>
       
        <div >
            <button class="button" type="submit" >Buscar usuario</button>
        </div>
    </form>
</section>

<section *ngIf="user" class="second-form">
    <div class="cont-tit">
        <h2 class="title">Información del usuario</h2>

    </div>
    <div class="second-div">

        <div class="user-info">
            <div >
                <p>User ID: {{user.user_id}}</p>
                <p>Nombre: {{user.name}}</p>
                <p>Apellido: {{user.lastName}}</p>
                <p>Email: {{user.email}}</p>

                <div class="div-line" *ngFor = "let r of roles">
                    <p *ngIf="r.RoleRoleId==3">Rol Alumno: Si</p>
                    <p *ngIf="r.RoleRoleId==2">Rol Docente: Si</p>
                </div>
            </div>


            <div class="div-line">
                <button class="button" (click)="addRole(user.user_id)">Asignar rol de docente</button>
                <button class="button" *ngIf="!insripcionCurso" (click)="verCursos()">Asignar curso al docente</button>
            </div>

        </div>
    </div>

    <div class="third-div"  *ngIf="insripcionCurso" >
        <h3>Seleccione el curso que el docente dictará</h3>

        <div>
            <div class="course-card" *ngFor="let c of courses" >
                <h4>Nombre: {{c.name}}</h4>
                <p> <strong>Descripción: </strong> {{c.description}}</p>
                <p><strong>ID curso: </strong> {{c.course_id}}</p>

                <button class="button " type="submit" (click)="addTeacherToCourse(c.course_id)">Asignar curso al docente</button>


            </div>
        </div>
        <div >
            <button class="button" type="submit" (click)="cancelar()">Cancelar</button>
        </div>
        
  

    </div>
</section>


