<h2 class="courses-title">Mis Cursos Registrados</h2>

<div class="courses-container">
  <div *ngFor="let registration of userCourses" class="course-card">
    <img class="hero-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Imagen del Curso"/>

    <div class="course-card-body">
      <h5 class="course-card-title">Inscripción #{{ registration.registration_id }}</h5>
      <p class="course-card-text"><strong>Curso:</strong> {{ getCourseName(registration.course_id) }}</p>
      <p class="course-card-text"><strong>Fecha de Inscripción:</strong> {{ registration.registration_date | date: 'medium' }}</p>
      
      <button class="course-card-button" (click)="goToCourse(registration.course_id)">Ver Curso</button>
    </div>
  </div>
</div>

<ng-template #noCourses>
  <p class="no-courses">No estás inscrito en ningún curso aún.</p>
</ng-template>
