<section class="contenedor">
  <div class="cont-tit">

    <h2 class="title">Mis Inscripciones</h2>
  </div>

<div class="no-register" *ngIf="userCourses===noHayRegistros" >
  <h2>Todavía no te inscribiste a ningún curso, o no te dieron el alta.</h2>
</div>

<div class="courses-container">
  <div *ngFor="let registration of userCourses" class="course-card">
  
    <div class="course-card-body">
      <h5 class="course-card-title">{{ getCourseName(registration.course_id) }}</h5>
      <p class="course-card-text"><strong>Fecha de Inscripción:</strong> {{ registration.registration_date | date: 'medium' }}</p>
      
      <button class="button" (click)="goToCourse(registration.course_id)">Ver Curso</button>
    </div>
  </div>
</div>

<ng-template #noCourses>
  <p class="no-courses">No estás inscrito en ningún curso aún.</p>
</ng-template>

</section>