<main>
  <section class="courses-intro">
    <h2 class="courses-title">Impulsa tu Futuro con Nuestros Cursos Especializados</h2>
    <p class="courses-description">En nuestra plataforma, ofrecemos una variedad de cursos diseñados para potenciar tus habilidades y conocimientos en diversas áreas. Ya sea que busques avanzar en tu carrera profesional o explorar nuevas pasiones, nuestros programas están estructurados para brindarte una experiencia de aprendizaje integral y efectiva.</p>
    
    <div class="courses-container">
      <div
        class="course-card"
        *ngFor="let course of courses"
        (click)="selectCourse(course)"
      >
        <img [src]="course.image" alt="Imagen del curso" />
        <div class="course-card-body">
          <h5 class="course-card-title">{{ course.title }}</h5>
          <p class="course-card-text">{{ course.shortDescription }}</p>
        </div>
      </div>
    </div>
    
    <div *ngIf="selectedCourse" class="course-detail">
      <button class="close-btn" (click)="deselectCourse()">Cerrar</button>
      <h3>{{ selectedCourse.title }}</h3>
      <img
        [src]="selectedCourse.image"
        alt="{{ selectedCourse.title }}"
        class="course-image"
      />
      <p>{{ selectedCourse.longDescription }}</p>
      <p><strong>Fecha de inicio:</strong> {{ selectedCourse.startDate }}</p>
      <p><strong>Duración:</strong> {{ selectedCourse.duration }}</p>
      <p><strong>Precio:</strong> {{ selectedCourse.price | currency }}</p>
      <button (click)="enroll(selectedCourse.id)">Inscribirse Ahora</button>
    </div>
    
      


  </section>

</main>

