<section *ngIf="!editarDescripcion" >

    <div>
        <h2>{{course?.name}}</h2>
        <p class="category">{{course?.category}}</p>
    </div>
    
    <div>
        <h3>Descripción de curso</h3>
        <p>{{course?.description}}</p>
    </div>

    <div>
        <h3>Condiciones de aprobación</h3>
        <p>{{course?.approval_conditions}}</p>
    </div>

    <div>
        <h3>Requisitos de inscripción</h3>
        <p>{{course?.inscription_requeriments}}</p>
    </div>

   <!--  
    <div>
        <h3>Habilitar curso</h3>
        <p>{{course?.active}}</p>
    </div>
    -->
    <div>
        <h3>Profesor</h3>
        <p>{{course?.teacher_id}}</p>
    </div>

    <div *ngIf="esDocente">
        <button (click)="editarDescripcionTrue()" >Editar descripcion del curso</button>
    </div>

    <button [routerLink]="['/dashboard/myenrollments']">Volver a inscripción</button>
</section>


<!--    EDITAAAR    -->
<section *ngIf="editarDescripcion" >
    <div>
        <h3>Titulo del curso</h3>
        <input type="input"  [(ngModel)]="course!.name">
    </div>

    <div>
        <h3>Selecione la categoria del curso</h3>

        <select  [(ngModel)]="course!.category" >
            <option value="">-- Selecione una opción --</option>
            <option value="Programación">Programación</option>
            <option value="Diseño">Diseño</option>
            <option value="Marketing">Marketing</option>
            <option value="Negocios">Negocios</option>
            <option value="Idiomas">Idiomas</option>
        </select>
    </div>

    <div>  
        <h3>Descripción de curso</h3>
        <textarea name="" id="" rows="4" cols="50" [(ngModel)]="course!.description"  ></textarea>
    </div>

    <div>
        <h3>Condiciones de aprobación</h3>
        <textarea name="" id="" rows="4" cols="50" [(ngModel)]="course!.approval_conditions"  ></textarea>
    </div>

    <div>
        <h3>Requisitos de inscripción</h3>
        <textarea name="" id="" rows="4" cols="50" [(ngModel)]="course!.inscription_requeriments"  ></textarea>
    </div>


    <div>
        <h3>Profesor</h3>
        <p>{{course?.teacher_id}}</p>
    </div>

    <div>
        <button (click)="descriptionCoursePUT()" >Guardar cambios</button>
        <button (click)="descriptionCancelar()" >Cancelar</button>
    </div>
</section>


<section class="sec_notes" *ngIf="esDocente">
    <div>
        <h3>Administrar calificaciones</h3>
        <button type="submit" (click)="toGrades()" >Asignar y consultar calificaciones</button>
    </div>
</section>


<section class="sec_notes" *ngIf="!esDocente">
    <div>
        <h3>Calificaciones</h3>
        <p>A continuacion se listan las calificaciones del curso.</p>


    </div>
</section>


<section class="sec_attendance"  *ngIf="esDocente">
    <div>
        <h3>Administrar asistencias</h3>
        <button >Habilitar asistencia</button>
        <button >Consultar asistencias del curso</button>
    </div>
</section>


<section class="sec_attendance" *ngIf="!esDocente" >
    <div>
        <h3 *ngIf="!esDocente">Asistencias</h3>
        <p>Esperar a que el profesor habilite la asistencia de la clase</p>
        <button >Dar asistencia</button>
        <button >Ver mis asistencias del curso</button>
    </div>

</section>








