/* You can add global styles to this file, and also import other style files */

/*PALETA DE COLORES*/
:root {
  --color-violeta: #6564cc;
  --color-azul: #00339e;
  --color-azul-oscuro: #010163;
  --color-naranja: #fc6a07;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.bg {
  animation: slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--color-naranja) 50%, var(--color-violeta) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  background-image: linear-gradient(-60deg, var(--color-azul) 50%, var(--color-azul-oscuro) 50%);
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}

.bg3 {
  background-image: linear-gradient(-60deg, var(--color-naranja) 50%, var(--color-azul) 50%);
  animation-duration: 9s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}


/*DARK MODE*/
.dark-mode {
  background-color: #121212;
}

/*DARK MODE LOGIN AND REGISTER*/
.dark-mode .form-container {
  background-color: #121212 !important;
}



.dark-mode section .title,
.dark-mode .input-group label,
.dark-mode .checkbox-group label,
.dark-mode .caract-cont,
.dark-mode .courses h1,
.dark-mode .courses p,
.dark-mode .notices h1,
.dark-mode .cursos-destacados h2,
.dark-mode .container marquee span,
.dark-mode .courses-intro h2,
.dark-mode .courses-intro h4,
.dark-mode .title,
.dark-mode section .presentation-tit h1,
.dark-mode .dropdown-btn
{
  color: white; !important;
}


