/* You can add global styles to this file, and also import other style files */

/*PALETA DE COLORES*/
:root {
  --color-violeta: #6564cc;
  --color-azul: #00339e;
  --color-azul-oscuro: #010163;
  --color-naranja: #fc6a07;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*DARK MODE*/
.dark-mode {
  background-color: #121212;
}

/*DARK MODE LOGIN AND REGISTER*/
.dark-mode .form-container {
  background-color: #121212 !important;
}

.dark-mode .title,
.dark-mode .input-group label,
.dark-mode .checkbox-group label,
.dark-mode .caract-cont,
.dark-mode .courses h1,
.dark-mode .courses p,
.dark-mode .notices h1,
.dark-mode .cursos-destacados h2 {
  color: white;
}

