<header>
    <div class="logo">
      <a href="/">Incubadora del NOC</a>
    </div>
  
    <nav class="nav-bar">

      <label class="switch">
        <input type="checkbox" (click)="toggleDarkMode()" id="modo-desktop">
        <span class="slider"></span>
      </label>
    
      <div class="dropdown">
        <button class="dropdown-btn">Cursos ▼</button>
        <ul class="dropdown-menu">
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
          <li><a href="#">Curso Aleatorio </a></li>
        </ul>
      </div>
  
      
      <input type="text" placeholder="Buscar cursos..." class="search-bar" />
  
     
      <div class="auth-buttons">
        <a class="btn login-btn" href="/login">Iniciar Sesión</a>
        <a class="btn register-btn" href="/register">Registrarse</a>
      </div>
    </nav>
  </header>
  