<nav class="sidebar">
  <ul>
    <li ><a routerLink="profile">Mi Perfil</a></li>
    <li ><a routerLink="mycourses">Mis Cursos</a></li>
    <li ><a routerLink="attendance">Mis Asistencias</a></li>
    <li ><a routerLink="mygrades">Mis Notas</a></li>
    <li ><a routerLink="myenrollments">Mis Inscripciones</a></li>
    <li ><a routerLink="view-course">Ver curso</a></li>
    <li ><a routerLink="mypayments">Historial de pagos</a></li>
    <li ><a routerLink="create-course">Crear Curso</a></li>
    <li ><a routerLink="create-user-role">Asignar Docente</a></li>
  </ul>
</nav>