<nav class="sidebar">
  <ul>
    <li><a routerLink="profile" (click)="onItemClick()">Mi Perfil</a></li>
    <li><a routerLink="mycourses" (click)="onItemClick()">Mis Cursos</a></li>
    <li><a routerLink="attendance" (click)="onItemClick()">Mis Asistencias</a></li>
    <li><a routerLink="mygrades" (click)="onItemClick()">Mis Notas</a></li>
    <li><a routerLink="myenrollments" (click)="onItemClick()">Mis Inscripciones</a></li>
    <li><a routerLink="create-course" (click)="onItemClick()">Crear Curso</a></li>
    <li><a routerLink="create-user-role" (click)="onItemClick()">Asignar Docente</a></li>
  </ul>
</nav>